body {
  margin: 0px;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: bolder;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin: 0px;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 100;
}

h4 {
  font-family: "Roboto", sans-serif;
  margin: 0px;
}

h5 {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 100;
  margin: 0px;
}

h6 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: bolder;
}

.b {
  font-family: Shrikhand;
  font-size: 28px;
  font-weight: 400;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 14px;
  margin: 0px;
}

/*** header first page ***/
.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
}
.header-container .logo-element {
  position: relative;
  max-width: 197px;
  padding: 14px;
}

.location-header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  background-color: #EAEAEA;
  box-shadow: 0px 3px 2px 0px lightgray inset;
  padding-top: 15px;
  padding-bottom: 15px;
}

.booking-button-bg {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background-color: #F6F6F6;
  width: 100%;
  height: 280px;
}

.btn {
  display: flex;
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  color: white;
  align-self: center;
  align-items: center;
  justify-content: center;
  margin: 20px 0px 0px 20px;
  width: 218px;
  height: 50px;
  border-style: none;
  border-radius: 50px;
  background-image: linear-gradient(#ff79da, #9356DC 100%);
  box-shadow: 0px 5px 8px 0px #C3C3C3;
}
.btn:hover {
  background-image: linear-gradient(#FF8DE0 -5.2%, #A36FE1 110.74%);
  box-shadow: 0px 5px 14px 0px #AAAAAA;
}

#eating-places-link {
  scroll-behavior: smooth;
}

/*****HOW IT WORKS******/
.homepage-filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  max-width: 1100px;
  min-width: 300px;
  gap: 15px;
  height: 70px;
  border-radius: 20px;
  padding-left: 20px;
  background: var(--Background, #F6F6F6);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}

.filter-all {
  display: flex;
  align-items: center;
  color: black;
  text-decoration: none;
}

.filter-numbers {
  display: flex;
  position: relative;
  font-size: 14x;
  font-weight: 500;
  color: white;
  align-items: center;
  background-color: #9356DC;
  padding: 6px;
  width: 10px;
  height: 10px;
  border-radius: 15px;
  margin-right: -10px;
}

.align-content-container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  gap: 30px;
  justify-content: center;
  max-width: 1080px;
  width: 100%;
  margin-right: 0px;
}

.how-to-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  padding: 20px;
  padding-bottom: 40px;
}

/*****RESTAURANTS******/
.new-label-overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-self: flex-end;
  padding: 10px;
  margin: 20px;
  width: 80px;
  background-color: #99E2D0;
  color: #008766;
  font-weight: 500;
  font-size: 14px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
}

.restaurant-container {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  padding: 20px;
  background-color: #F6F6F6;
}

.cards-section {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
  justify-content: center;
  max-width: 1080px;
}

.restaurant-card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  max-width: 500px;
  border-radius: 15px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  background-color: white;
  color: black;
  text-decoration: none;
}
.restaurant-card .image-card-restaurant {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 220px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.restaurant-card-all {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 15px 50px 15px 20px;
}

.card-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 20px;
}

.heart--container {
  display: flex;
  align-content: center;
  justify-content: center;
  position: relative;
  height: 25px;
  margin-top: 5px;
}
.heart--container .heart1 {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  transition: 0.3s;
  opacity: 100%;
}
.heart--container .heart1:hover {
  opacity: 0%;
}
.heart--container .heart2 {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.3s;
  opacity: 0%;
}
.heart--container .heart2:hover {
  opacity: 100%;
}

/*****footer********/
.footer-background {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  justify-content: center;
  padding: 20px;
  align-items: flex-start;
}
.footer-background .footer-logo {
  width: 138px;
}
.footer-background ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  text-align: left;
  padding-left: 0px;
}
.footer-background ul li {
  display: inline;
  list-style: none;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: #D6FFF5;
  text-decoration: none;
  line-height: 30px;
}
.footer-background ul li :-moz-any-link {
  color: white;
  text-decoration: none;
}
.footer-background ul li :any-link {
  color: white;
  text-decoration: none;
}

/***** restaurant pages *****/
.header-restaurants {
  display: flex;
  height: 63px;
  justify-content: center;
  align-items: center;
  padding: 0 20px 0 20px;
}
.header-restaurants .arrow {
  position: absolute;
  left: 0%;
  margin-left: 20px;
}

.full-width-header {
  display: flex;
  -o-object-fit: cover;
     object-fit: cover;
  justify-content: center;
  width: 100%;
  height: 265px;
  margin-bottom: -10px;
}

.todays-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1055px;
  min-width: 375px;
  height: 70px;
  gap: 50px;
  padding-top: 20px;
}

.restaurant-container-for-menus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  max-width: 1055px;
  min-width: 375px;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  background-color: #F6F6F6;
  width: 100%;
  margin-top: -40px;
}

.body-menu-pages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  min-width: 375px;
}

.subtitles-uppercase {
  text-transform: uppercase;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  padding-bottom: 8px;
  width: 40px;
  border-color: #99E2D0;
}

.meals-list {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-self: center;
  padding: 20px;
  margin-bottom: 30px;
  gap: 10px;
  width: 85%;
  max-width: 634px;
  min-width: 330px;
}

.meals {
  display: flex;
  align-items: center;
  line-height: 1.5;
  height: 75px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
.meals:hover .check-container {
  display: flex;
  justify-content: center;
  background-color: #99E2D0;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  height: 75px;
  width: 30%;
  max-width: 70px;
}

.check {
  display: flex;
  align-self: center;
  justify-self: end;
  width: 18px;
  height: 18px;
}

.meal-part1 {
  display: flex;
  flex-direction: column;
  width: 640px;
  justify-content: center;
  padding: 0px 0px 0px 12px;
}

.meal-part2 {
  display: flex;
  align-self: flex-start;
  align-self: end;
  white-space: none;
  margin-bottom: 14px;
  padding-right: 10px;
}

/***** Media Querys *******/
@media screen and (max-width: 375px) {
  ul {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
  }
}
@media screen and (min-width: 1440px) {
  .footer-background {
    display: flex;
    flex-direction: row-reverse;
    background-color: #353535;
    justify-content: flex-start;
    padding: 20px;
    height: 114px;
    align-items: flex-end;
  }
  .footer-background .footer-logo {
    display: flex;
    flex-direction: row-reverse;
    align-self: flex-end;
    padding-left: 60px;
  }
  .footer-background ul {
    display: flex;
    flex-direction: row-reverse;
    gap: 50px;
    align-items: flex-end;
    margin-bottom: 0px;
  }
  .footer-background ul li {
    display: inline;
    list-style: none;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    color: #D6FFF5;
    text-decoration: none;
    line-height: 30px;
  }
  .footer-background ul li :-moz-any-link {
    color: white;
    text-decoration: none;
  }
  .footer-background ul li :any-link {
    color: white;
    text-decoration: none;
  }
}/*# sourceMappingURL=main.css.map */