$mainlineargradient: linear-gradient(#ff79da, #9356DC 100%);
$hoverlineargradient: linear-gradient(#FF8DE0 -5.2%, #A36FE1 110.74%);
$primarycolor: #9356DC;
$secondarycolor: #FF79DA;
$LightGrayBG: #F6F6F6;
$tertiary: #99E2D0;
$mainfontfamily: "Roboto", sans-serif;
$secondaryfont: Shrikhand;
$no-margin: 0px;


@mixin flexColumn {
    display: flex;
    flex-direction: column;
}
@mixin flexRowRev {
    display: flex;
    flex-direction: row-reverse;
}

body {
  margin: $no-margin;
}
h1 {
  font-family: $mainfontfamily;
  font-size: 24px;
  font-style: normal;
  font-weight:bolder;
}
h3{
  font-family: $mainfontfamily;
  font-size: 16px;
  font-weight: 500;
  margin: $no-margin;
}
h2{
  font-family: $mainfontfamily;  
  font-size: 18px;
  font-weight: 100;
}
h4 {
  font-family: $mainfontfamily;
  margin: 0px;
  font-size: 18px;
}
h5 {
  font-family: $mainfontfamily;
  font-size: 17px;
  font-weight: 100;
  margin: $no-margin;
}
h6 {
  font-family: $mainfontfamily;
  font-size: 24px;
  font-style: normal;
  font-weight: bolder;
  margin-top: 20px;
  margin-bottom: 20px;
}
.b {
  display: flex;
  position: relative;
  justify-items: start;
  font-family: $secondaryfont;
  font-size: 28px;
  font-weight: 400;
  $no-margin: 0px;
}
.c {
  font-family: $mainfontfamily;
  font-size: 14px;
  font-weight: 100;
  margin: $no-margin;
}
p {
  font-family: $mainfontfamily;
  font-weight: 100;
  font-size: 15.04px;
  margin: $no-margin;
}

/*** header first page ***/
.header-container {
  @include flexColumn;
  align-items: center;
  margin: $no-margin;
  .logo-element {
    position: relative;
    max-width: 197px;
    padding: 14px;
  
  }
}
.location-header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  background-color: #EAEAEA;
  box-shadow: 0px 3px 2px 0px lightgray inset;
  padding-top: 15px;
  padding-bottom: 15px;
}
.booking-button-bg {
  @include flexColumn;
  text-align: center;
  justify-content: center;
  background-color: $LightGrayBG;
  width: 100%;
  height: 280px;
}
.btn {
  display: flex;
  font-size: 16px;
  font-weight: 500;
  font-family: $mainfontfamily;
  color: white;
  align-self: center;
  align-items: center;
  justify-content: center;
  margin: 20px 0px 0px 20px;
  width: 218px;
  height: 50px;
  border-style: none;
  border-radius: 50px;
  background-image: $mainlineargradient;
  box-shadow: 0px 5px 8px 0px #C3C3C3;
  &:hover {
    background-image: $hoverlineargradient;
    box-shadow: 0px 5px 14px 0px #AAAAAA;
  }
}

#eating-places-link {
  scroll-behavior: smooth;
}

.homepage-icons {
  fill: #353535;
  :hover {
    fill: $primarycolor;
  }
}
/*****HOW IT WORKS******/
.homepage-filters {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1100px;
  min-width: 300px;
  gap: 20px;
  height: 70px;
  border-radius: 30px;
  padding-left: 30px;
  background: var(--Background, $LightGrayBG);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
.filter-all {
  display: flex;
  align-items: center;
  color: black;
  text-decoration: none;
  width: 335px;
}
.filter-numbers{  
  display: flex;
  position: relative;
  font-size: 14px;
  font-weight: 500;
  color: white;
  align-items: center;
  background-color: $primarycolor;
  padding: 6px;
  width: 10px;
  height: 10px;
  border-radius: 15px;
  margin-right: -10px;
}
.align-content-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  gap: 30px;
  justify-content: center;
  max-width: 1080px;
  width: 100%;
  margin-right: $no-margin;
}
.how-to-section {
  @include flexColumn;  
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  padding: 20px;
  padding-bottom: 40px;
}

/****spinner******/
.spinner-container {
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: white;
  animation: spinner-visable 3s forwards 1;
  @keyframes spinner-visable {
    100% {
      overflow: hidden;
      visibility: hidden;
    }
  }
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 7px solid $LightGrayBG;
  border-top: 7px solid #9356DC;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 0.8s ease infinite;
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  }

/*****RESTAURANTS******/
.new-label-overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 10px;
  margin: 20px;
  width: 80px;
  background-color: $tertiary;
  color: #008766;
  font-weight: 500;
  font-size: 14px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
}
.cards-link {
  display: flex;
  text-decoration: none;
  position: relative;
  justify-content: flex-end;
}
.restaurant-container {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  padding: 20px;
  background-color: $LightGrayBG;
}
.cards-section {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
  justify-content: center;
  max-width: 1080px;
}
.restaurant-card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  max-width: 500px;
  border-radius: 15px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);  
  background-color: white;
  color: black;
  text-decoration: none;

  .image-card-restaurant {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 220px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
  }
}

.heart--container {
  display: flex;
  align-content: center;
  justify-content: center;
  position: relative;
  height: 25px;
  margin-top: 5px;
  .heart1 {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    transition: 0.3s;
    opacity: 100%;
    &:hover {
      opacity: 0%;
    }
  }
  .heart2 {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.3s;
    opacity: 0%;
    &:hover {
      opacity:100%;
    }
  }
}
.restaurant-card-all {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 15px 50px 15px 20px;
  align-items: center;
}
.card-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 25px;
  text-decoration: none;
  color: black;
}
/*****footer********/
.footer-background {
  @include flexColumn;  
  background-color: #353535;
  justify-content: center;
  padding: 20px;
  align-items: flex-start;
  .footer-logo {
    width: 138px;
  }
  ul {
    @include flexColumn;  
    list-style: none;
    text-align: left;
    padding-left: 0px;
        li {
            display: inline;
            list-style: none;
            font-size: 16px;
            font-family: $mainfontfamily;
            color: #D6FFF5;
            text-decoration: none;
            line-height: 30px;
            :any-link {
                color: white;
                text-decoration: none;
            }
        }
  }
}

/***** restaurant pages *****/
.header-restaurants {
  display: flex;
  height: 63px;
  justify-content: center;
  align-items: center;
  padding: 0 20px 0 20px;
  .arrow {
    position: absolute;
    display: flex;
    align-self: center;
    justify-self: center;
    left: 0%;
    margin-left: 20px;
  }
}

.arrow-container {
  display: flex;
}

.full-width-header {
  display: flex;
  object-fit: cover;
  justify-content: center;
  width: 100%;
  height: 265px;
  margin-bottom: -10px;
}

.todays-menu {
  display: flex;
  justify-content: space-between;  
  align-items: center;
  max-width: 675px;
  min-width: 300px;
  height: 70px;
  padding-top: 20px;
  padding-right: 40px;
  padding-left: 20px;
  gap: 20px;
}

.restaurant-container-for-menus {
  @include flexColumn;  
  justify-content: center;  
  align-items: center;
  align-self: center;
  max-width: 1055px;
  min-width: 375px;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  background-color: $LightGrayBG;
  width: 100%;
  margin-top: -40px;
}
.body-menu-pages {
  @include flexColumn;  
  justify-content: center;
  max-width: 100%;
  min-width: 375px;
}
.subtitles-uppercase {
  text-transform: uppercase;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  padding-bottom: 8px;
  width: 40px;
  border-color: #99E2D0;
}
.meals-list {
  @include flexColumn;
  justify-items: center;
  align-self: center;
  padding: 20px;
  margin-bottom: 30px;
  gap: 10px;
  width: 85%;
  max-width: 634px;
  min-width: 330px;
}

.starters {
  animation: fade-In 1s ease-in;
}
.mains {
  animation: fade-In 2s ease-in;
}
.desserts {
  animation: fade-In 3s ease-in;
}

@keyframes fade-In {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.meals {
  display: flex;  
  align-items: center;
  line-height: 1.5;
  height: 75px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);  
}

.meal-part1 {
  @include flexColumn;  
  width: 640px;
  justify-content: center;
  padding: 0px 0px 0px 12px;
}

.meals {
  display: flex;
  align-items: center;
  line-height: 1.5;
  height: 75px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

 .check-container {
    display: flex;
    justify-content: center;
    background-color: $tertiary;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    height: 75px;
    width: 59px;
    position: relative;
    left: 60px;
}

.check-container .check {
  display: flex;
  align-self: center;
  justify-self: end;
  width: 59px;
}
.check {
  width: 17px;
  height: 17px;
} 

 .meals:hover .check-container {
    animation: move 1.2s ease forwards;

  }
  .price {
    display: flex;
    align-self: end;
    padding-right: 12px;
    margin-bottom: 14px;
    left: 60px;
    position: relative;
  }
  .meals:hover {
    .price {
      display: flex;
      align-self: end;
      padding-right: 12px;
      margin-bottom: 14px;
      animation: move 1.2s ease forwards;
    }
  }
  @keyframes move {
    0% {left: 60px;}
    60% {left: 0px;}
    100% {left: 60px;}
  }

/***** Media Querys *******/
@media screen and (max-width: 375px) {
  ul {
    @include flexColumn;
    align-self: flex-start;
  }
  .menu-text {
    white-space: nowrap; 
    width: 190px; 
    overflow: hidden;
    text-overflow: ellipsis; 
  }
}

@media screen and (min-width: 1440px) {
  .align-content-container {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    gap: 30px;
    justify-content: center;
    max-width: 1080px;
    width: 100%;
    margin-right: $no-margin;
  }
}
@media screen and (min-width: 1440px) {
  .footer-background {
    @include flexRowRev;  
    background-color: #353535;
    justify-content: flex-start;
    padding: 20px;
    height: 114px;
    align-items: flex-end;
    .footer-logo {
      @include flexRowRev;
      align-self: flex-end;
      padding-left: 60px
    }
    ul {
      @include flexRowRev;
      gap: 50px;
      align-items: flex-end;
      margin-bottom: $no-margin;
          li {
              display: inline;
              list-style: none;
              font-size: 16px;
              font-family: "Roboto", sans-serif;
              color: white;
              text-decoration: none;
              line-height: 30px;
              :any-link {
                  color: white;
                  text-decoration: none;
              }
          }
    }
  }  
}
